<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/popup.css" />
    
</head>
<body>



    
<div class="container" id="popup_container" >

<form class="form-horizontal" id="form_extensions">
<fieldset>

<!-- Form Name -->
<legend style="margin-bottom:10px" >Look at my Chrome Apps</legend>

<!-- Button (Double) -->
<div class="control-group" style="padding-bottom: 8px;">
  <label class="control-label" for="form_button1">Copy as</label>
  <div class="controls">
    <button id="form_button1_richtext" name="form_button1" class="btn btn-info">Rich-text</button>
    <button id="form_button2_html" name="form_button2" class="btn btn-info">HTML</button>
    <button id="form_button3_markdown" name="form_button3" class="btn btn-info">Text <small>(Markdown)</small></button>
  </div>
</div>

    
<!-- Multiple Checkboxes (inline) -->
<div class="control-group" style="padding-bottom: 8px;">
  <label class="control-label" for="form_sharewhat">Include</label>
  <div class="controls">
  <div class="row">
      <div class="col-xs-6">
        <label class="checkbox" for="form_sharewhat-0">
        <input type="checkbox" name="form_sharewhat" id="form_sharewhat-0" value="Apps" checked >
      Apps
        </label>
        </div>
      <div class="col-xs-6">
          <label class="checkbox" for="form_sharewhat-1">
      <input type="checkbox" name="form_sharewhat" id="form_sharewhat-1" value="Extensions" checked >
      Extensions
    </label>
      </div>
  </div>
      <div class="row">
          <div class="col-xs-6">
                  <label class="checkbox" for="form_sharewhat-2">
      <input type="checkbox" name="form_sharewhat" id="form_sharewhat-2" value="Themes" checked >
      Themes
    </label>

          </div>
          <div class="col-xs-6">
    <label class="checkbox" for="form_sharewhat-3">
      <input type="checkbox" name="form_sharewhat" id="form_sharewhat-3" value="Inactive">
      Inactive
    </label>
      </div>
    </div>
    </div>
</div>

<!-- Multiple Radios -->
<div class="control-group">
  <div class="row">
      <div class="col-xs-8">
        <label class="control-label" for="list">From list...</label>
      </div>
      <div class="col-xs-4" style="padding-top:7px;">
          <a  href="options.html" onclick="javascript:open_options_page();">(Configure)</a>
       </div>
  </div>
          
  <div class="col-md-4">
  <div class="radio">
    <label for="list-0">
      <input type="radio" name="list" id="list-0" value="all" checked="checked">
      Everything
    </label>
	</div>
  <div class="radio">
    <label for="list-1">
      <input type="radio" name="list" id="list-1" value="last-installed">
      Last installed
    </label>
	</div>
  <div class="radio">
    <label for="list-2">
      <input type="radio" name="list" id="list-2" value="last-updated">
      Last updated
    </label>
	</div>
  <div class="radio">
    <label for="list-4">
      <input type="radio" name="list" id="list-4" value="">
      Web developpment
    </label>
	</div>
  <div class="radio">
    <label for="list-5">
      <input type="radio" name="list" id="list-5" value="">
      Graphism
    </label>
	</div>
  </div>
</div>

</fieldset>
</form>


</div>


</fieldset>
</form>
</div>


<div id="clipboard" contenteditable="true" style="display:none" />

</div><!-- /.container -->

</body>
        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--    <script data-main="../js/config" src="../bower_components/requirejs/require.js"></script>-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../js/popup.js"></script>

    
</html>